@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.CPopUp {
    z-index: 10;
    // become flex when element is active
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    justify-content: end;
    align-items: center;
    min-height: 30px;
    max-width: 300px;
    padding: .7em;
    margin: var(--margin);
    border-radius: var(--border-radius);
    background-color: var(--primary-color-0);
    text-align: left;

    &>svg {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    &.success {
        @include border(var(--success));
        color: var(--success);
    }

    &.warning {
        @include border(var(--warning));
        color: var(--warning);
    }

    &.info {
        @include border(var(--info));
        color: var(--info);
    }
}