:root {
    --padding: .5em;
    --margin: 1em;
    --border-radius: 5px;
    --warning: #ff0f0f;
    --info: #1E92F4;
    --success: #5cb85c;
}

@media (max-width: 600px) {
    :root {
        --margin: .7em;
    }
}

@mixin border($color) {
    border: 1px solid $color;
}

[theme='light'] {
    --primary-color: lightpink;
    --primary-color-0: #ff99ab;
    --primary-color-hue: yellow;
    --secondary-color: aliceblue;
    --secondary-color-hue: white;
    --accent-color-0: lightgreen;
    --accent-color-1: magenta;

    --primary-text: #fff;
    --primary-text-hue: #fff;
    --secondary-text: #232423;
    --accent-text-0: #232423;
    --accent-text-1: #fff;
    --border-thin: 1px solid var(--primary-color-hue);
}

[theme='dark'] {
    --primary-color: #384D48;
    --primary-color-0: #273633;
    --primary-color-hue: #6E7271;
    --secondary-color: #ACAD94;
    --secondary-color-hue: #fff;
    --accent-color-0: #EE6C4D;
    --accent-color-1: #310D20;

    --primary-text: #fff;
    --primary-text-hue: #fff;
    --secondary-text: #232423;
    --accent-text-0: #232423;
    --accent-text-1: #fff;
    --border-thin: 1px solid var(--primary-color-hue);
}