@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.CInput {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin);
}

label.label {
    display: flex;
    align-items: center;
    min-width: var(--c-label-min-width, 110px);
    margin-right: var(--padding);
    font-size: 1em;
    text-align: left;
    color: var(--primary-text);
    white-space: nowrap;
    text-transform: capitalize;

    &.checkbox-label {
        min-width: fit-content;
    }
}

input {
    width: 100%;
    min-height: 1em;
    padding: .2em var(--padding);
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    outline: none;
    background: rgb(251, 251, 251);
    font-size: .8em;
    line-height: .9em;
    color: var(--secondary-text);
    transition: all .1s ease 0s;

    &:focus {
        outline: 1px solid var(--accent-color-0);
    }

    &[type='checkbox'] {
        display: inline-flex;
        align-self: center;
        height: 1em;
        width: 1em;
        accent-color: var(--accent-color-0);
    }

    &[type='checkbox']:focus {
        outline: none;
    }
}