@use '/src/styles/shared.scss';

.Input {
    display: flex;
    justify-content: space-between;
    margin-bottom: shared.$margin;
}
    label {
        margin-right: shared.$padding;
        text-transform: capitalize;
        min-width: 145px;
        text-align: left;
    }