@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px;
  margin: var(--margin);

  &input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--primary-color-hue);
  cursor: pointer;
  transition: .4s;
  -webkit-transition: .4s;

  &:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    height: 26px;
    width: 26px;
    background-color: var(--secondary-color-hue);
    transition: .4s;
    -webkit-transition: .4s;
  }
}

input {
  &:checked+.slider {
    background-color: var(--accent-color-0);

    &:before {
      transform: translateX(26px);
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
    }
  }

  &:focus+.slider {
    box-shadow: 0 0 1px var(--accent-color-0);
  }
}

.slider {
  &.round {
    border-radius: 34px;
  }

  &.round:before {
    border-radius: 50%;
  }
}