@import '/src/styles/shared.scss';

.Configs {
    padding: var(--padding);
}
h2 {
    display: flex;
    margin-top: 0;
}

p {
    margin-bottom: 2em;
    color: var(--accent-color-0);
    font-style: italic;
}

.Configs .CInput {
    border-bottom: var(--border-thin);
    margin-bottom: 0;
}
.Configs .CInput > label {
    margin: var(--margin) 0;
}
