@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.Configs {
    padding: var(--padding);
    max-width: 70%;
}
h2 {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

p {
    margin-bottom: 2em;
    color: var(--accent-color-0);
    font-style: italic;
}

.Configs .CInput {
    border-bottom: var(--border-thin);
    margin-bottom: 0;
}
.Configs .CInput > label {
    margin: var(--margin) 0;
}

.categ_values {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); /* Adjust the 20% as needed */
    grid-auto-rows: 1fr;
    grid-column-gap: 2em;
}

.lvl_name {
    color: var(--accent-color-0);
    text-transform: capitalize;
    margin-top: 2em;
}

.catg_name {
    text-transform: capitalize;
    text-align: left;
    margin-bottom: 0em;
    margin-top: 2em;
}

.lvl_wrap {
    border: 1px solid var(--secondary-color);
    padding: var(--margin);
}
