@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.chart-wrap {
    display: flex;
    align-self: center;
    width: 90vw;
}

.month {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.Dashboard {
    display: flex;
    flex-direction: column;

    &>h3 {
        margin-top: 2em;
    }

    & .trends {
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;
        padding: var(--padding);
        @include border(var(--secondary-color));

        &>h4 {
            margin: 0;
        }

        &>div {
            padding-top: 0;
            font-weight: 700;
            color: var(--accent-color-0);
        }

        &>* {
            padding: var(--margin);
        }
    }
}

.progress-wrap {
    padding: var(--padding);
    border-top: 1px solid var(--secondary-color);
}

.progress-title {
    margin-top: 2em;
}

@media (max-width: $mobile) {
    .chart-wrap {
        width: 99vw;
    }
}