.chart-wrap {
    width: 90vw;
    display: flex;
    align-self: center;
}

.month {
    display: flex;
}

.Dashboard {
    display: flex;
    flex-direction: column;
}

.Dashboard>h3 {
    margin-top: 2em;
}

.trends {
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    border: 1px solid var(--secondary-color);
    padding: var(--padding);
}

.trends>h4 {
    margin: 0;
}

.trends>* {
    padding: var(--margin);
}

.trends>div {
    padding-top: 0;
    color: var(--accent-color-0);
    font-weight: 700;
}