@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-size: 22px;
  text-align: center;

  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color-0);

    .menu {
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      margin-left: var(--margin);

      &.visible {
        display: flex;
      }

      &.not-visible {
        display: none;
      }
    }

    .burger {
      display: none;
    }

    .CButton.logout {
      justify-content: flex-end;
    }

  }
}

.mobile-menu {
  display: none;
}

.main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: var(--margin);
  background-color: var(--primary-color);
  color: var(--primary-text);

  &>* {
    width: 100%;
  }
}

@media (max-width: $mobile) {
  .App {
    .header {
      .switch-and-burger {
        display: flex;

        .burger {
          height: 35px;
          width: 35px;
          margin: var(--margin);

          &.visible {
            display: flex;
          }

          &.not-visible {
            display: none;
          }

          &>path {
            stroke: var(--primary-color-hue);
          }
        }
      }

      .menu {

        &.visible,
        &.not-visible {
          display: none;
        }
      }
    }

    .mobile-menu {
      &.closed {
        display: none;
      }

      &.open {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color-0);
      }
    }
  }
}

@keyframes gear-icon-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}