@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--primary-color);
  min-height: 100vh;
  font-size: 22px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color-0);
}

.menu {
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  margin-left: var(--margin);
}

.burger-mobile {
  display: none;
}

.menu.visible {
  display: flex;
}

.menu.not-visible {
  display: none;
}

.menu-mobile-items {
  display: none;
}

.CButton.logout {
  justify-content: flex-end;
}

.topBar .svg-icon {
  font-size: 1.5em;
  animation: none;
  margin: var(--margin);
  margin-left: 0;
  cursor: pointer;
  pointer-events: auto;
}


.App-logo {
  font-size: 20vmin;
  pointer-events: none;
  margin-bottom: .2em;
  color: var(--accent-color-0)
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Main-content {
  margin: var(--margin);
  background-color: var(--primary-color);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
}

.Main-content>* {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: var(--margin) 2em;
  margin: 0 -var(--margin);
  font-size: 1em;
  color: var(--primary-text-hue);
  opacity: 0.8;
  border-top: 1px solid var(--primary-color-hue);
  background-color: var(--primary-color-0);
}

@media (max-width: $mobile) {
  .App-logo {
    margin-bottom: var(--margin);
  }

  .menu.visible {
    display: none;
  }

  .menu-mobile-items.closed {
    display: none;
  }

  .menu-mobile-items.open {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color-0);
  }

  .switch-and-mobile-menu {
    display: flex;
  }

  .burger-mobile {
    display: flex;
    height: 35px;
    width: 35px;
    margin: var(--margin);
  }
  .burger-mobile>path {
    stroke: var(--primary-color-hue);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}