@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';


.ConfigsTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;

    & label {
        --c-label-min-width: none;
    }
}

#time {
    width: 70%;
}