@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.CMenuItem {
    height: 2em;
    padding: var(--padding);
    margin-right: var(--margin);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: var(--accent-text);

    &.active {
        background-color: var(--primary-color);
    }

    &>a {
        color: var(--primary-text);
        text-decoration: none;
    }
}

@media (max-width: $mobile) {
    .CMenuItem {
        margin-right: 0;
        border-radius: 0;

        &.active {
            background-color: var(--primary-color-0);

            &>a {
                color: var(--accent-color-0);
            }
        }
    }
}