@use '/src/styles/shared.scss';
.CButton {
    display: flex;
    justify-content: center;
}
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        border-radius: shared.$border-radius;
        padding: 0 shared.$margin;
        border: none;
        color: shared.$accent-text-0;
        background: shared.$accent-color-0;
        line-height: 1.15;
        font-size: 1em;
        min-width: 100px;
        min-height: 1.7em;
        margin: shared.$margin;
        box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    }
    .button:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 shared.$secondary-color-hue, 0 0 0 3px white;
    }
    .logout-inner {
        background: shared.$primary-color;
        border: 1px solid shared.$secondary-color-hue;
        color: shared.$secondary-color-hue;
    }