@import '/src/styles/shared.scss';
@import '/src/styles/breakpoints.scss';

.CButton,
.button {
    display: flex;
    justify-content: center;
}

.button {
    align-items: center;
    min-width: 100px;
    min-height: 1.7em;
    margin: var(--margin);
    padding: 0 var(--margin);
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    background: var(--accent-color-0);
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    font-size: 1em;
    font-weight: 500;
    color: var(--accent-text-0);
    line-height: 1.15;
    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 var(--secondary-color-hue, 0 0 0 3px white);
    }
}

.outlined-inner {
    @include border(var(--secondary-color-hue));
    background: transparent;
    color: var(--secondary-color-hue);
}